<div class="container">
	<div class="row">
		<div class="col-12 text-center">
			<h1 class="display-1">Aktív rendelések</h1>
		</div>
	</div>

	<div
		class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-4 justify-content-center"
	>
		<div *ngFor="let order of activeOrders" class="col">
			<div class="card bg-light h-100">
				<div class="card-body">
					<h5 class="card-title text-center">#{{ order.order.id }}</h5>
					<h6 class="card-subtitle text-muted mb-2 text-center">
						{{ order.order.address }}
					</h6>
					<p class="card-text text-center mb-2">
						<span class="fw-bold">Eltelt idő:</span>
						{{ getElapsedTime(order.order.date) }} perc
					</p>
					<p
						class="card-text text-center text-warning border-bottom border-dark pb-1 mb-2"
					>
						{{ order.order.status }}
					</p>

					<ul class="card-text">
						<li *ngFor="let pizza of order.pizzas">{{ pizza.name }}</li>
					</ul>
				</div>

				<div class="card-footer text-center">
					<button type="button" class="btn btn-primary">Állapot módosítása</button>
				</div>
			</div>
		</div>
	</div>
</div>
