<div class="container">
	<div class="row">
		<div class="col-12 text-center">
			<h1 class="display-1">Kosár</h1>
		</div>
	</div>

	<div class="row justify-content-center">
		<div *ngIf="isLoading" class="col-12 text-center mt-3">
			<div class="spinner-border text-danger" style="width: 3rem; height: 3rem">
				<span class="visually-hidden">Betöltés...</span>
			</div>
		</div>

		<div *ngIf="!isLoading" class="col-12 col-xl-10">
			<div *ngIf="cartItems.length > 0; else cartEmpty">
				<div class="table-responsive-sm table-light">
					<table class="table table-striped table-hover align-middle">
						<thead class="table-info">
							<tr>
								<th role="col" class="text-center">Név</th>
								<th role="col" class="text-center">Darab ár</th>
								<th role="col" class="text-center">Darab</th>
								<th role="col" class="text-center">Teljes ár</th>
								<th role="col" class="min-width-cell text-center">
									<fa-icon [icon]="['fas', 'trash']" class="d-md-none"></fa-icon>
									<span class="d-none d-md-inline-block">&#160;Eltávolítás</span>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let cartItem of cartItems">
								<td class="text-center text-break mw-100px">
									{{ cartItem.pizza.name }}
								</td>
								<td class="text-center">{{ cartItem.pizza.price }} Ft</td>
								<td class="text-center">{{ cartItem.amount }} db</td>
								<td class="text-center">
									{{ cartItem.amount * cartItem.pizza.price }} Ft
								</td>
								<td class="min-width-cell text-center">
									<button
										(click)="removePizzaFromCart(cartItem.id)"
										type="button"
										class="btn btn-sm btn-danger"
									>
										<fa-icon [icon]="['fas', 'trash']"></fa-icon>
										<span class="d-none d-md-inline-block">&#160;Eltávolítás</span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
	
				<p class="text-end">
					<span class="fw-bold">Végösszeg: </span>
					<span class="text-decoration-underline">{{ sumOfPizzaPrices() }} Ft</span>
				</p>
	
				<div class="text-end">
					<a [routerLink]="['/order-finalize']" class="btn btn-primary me-2"
						>Véglegesítés</a
					>
					<button (click)="dumpCart()" type="button" class="btn btn-danger">
						Kosár ürítése
					</button>
				</div>
			</div>
			<ng-template #cartEmpty>
				<div class="col-12">
					<p class="text-center">A kosarad jelenleg üres!</p>
				</div>
			</ng-template>
		</div>
	</div>
</div>
