<div>
	<div class="modal-header">
		<h4 class="modal-title">Módosítás</h4>
		<button
			type="button"
			class="btn-close"
			aria-label="Close button"
			aria-describedby="modal-title"
			(click)="closeModal()"
		></button>
	</div>
	<form (ngSubmit)="onSubmit()" novalidate [formGroup]="editUserForm">
		<div class="modal-body bg-light">
			<div class="container-fluid">
				<div class="row g-3">
					<div class="col-12">
						<div class="input-group">
							<span
								*ngIf="valueLabel === 'Telefonszám'"
								class="input-group-text rounded-0 rounded-start"
								>+36</span
							>
							<div class="form-floating flex-grow-1">
								<input
									formControlName="value"
									id="inputValue"
									#inputValue
									type="{{ valueInputType }}"
									class="form-control"
									placeholder="{{ valueLabel }}"
									[ngClass]="{
										'is-valid': value?.dirty && value?.valid,
										'is-invalid': (value?.dirty && value?.invalid) || (value?.dirty && valueConfirm?.dirty && editUserForm?.errors?.['matchingError']),
										'rounded-0': valueLabel === 'Új jelszó' || valueLabel === 'Telefonszám',
										'rounded-start': valueLabel === 'Új jelszó',
										'rounded-end': valueLabel === 'Telefonszám',
										'number-without-spinner': valueInputType === 'number'
									}"
								/>
								<label for="inputValue">{{ valueLabel }}</label>
							</div>
							<span
								*ngIf="valueLabel === 'Új jelszó'"
								class="input-group-text rounded-0 rounded-end toggle-visibility-button"
								(click)="
									inputValue.type === 'password'
										? (inputValue.type = 'text')
										: (inputValue.type = 'password')
								"
								><fa-icon
									[icon]="inputValue.type === 'password' ? faEyeIcon : faEyeSlashIcon"
								></fa-icon
							></span>
						</div>

						<!-- Errors -->
						<ngb-alert
							[dismissible]="false"
							type="danger"
							*ngIf="(value?.dirty && value?.invalid) || (value?.dirty && valueConfirm?.dirty && editUserForm?.errors?.['matchingError'])"
						>
							<p *ngIf="value?.errors?.['required']">A mező nem lehet üres!</p>

							<p *ngIf="value?.errors?.['email']">
								A mezőnek egy érvényes e-mail címet kell tartalmaznia!
							</p>

							<p *ngIf="value?.errors?.['minlength']">
								A mezőnek minimum
								{{value?.errors?.['minlength'].requiredLength}} karaktert kell
								tartalmaznia!
							</p>

							<p *ngIf="value?.errors?.['maxlength']">
								A mezőnek maximum
								{{value?.errors?.['maxlength'].requiredLength}} karaktert szabad
								tartalmaznia!
							</p>

							<p *ngIf="value?.errors?.['pattern']">
								A mezőnek egy érvényes értéket kell tartalmaznia!

								<span *ngIf="valueLabel === 'Teljes név'"
									>(Érvényes magyar név például: Teszt Elek Ferenc)</span
								>
								<span *ngIf="valueLabel === 'E-Mail cím'"
									>(Érvényes e-mail cím például: tesztelek15@tesztmail.com)</span
								>
								<span *ngIf="valueLabel === 'Telefonszám'"
									>(Érvényes telefonszám: 9 darab számjegy)</span
								>
							</p>

							<ul *ngIf="value?.errors?.['pattern'] && valueLabel === 'Új jelszó'">
								<li>Legalább egy nagybetű</li>
								<li>Legalább egy kisbetű</li>
								<li>Legalább egy szám</li>
								<li>Legalább egy különleges karakter (#?!@$%^&*-)</li>
								<li>Legalább 8 karakter hosszú</li>
							</ul>

							<p
								*ngIf="value?.dirty && valueConfirm?.dirty && editUserForm?.errors?.['matchingError']"
							>
								A két mezőnek meg kell egyeznie!
							</p>
						</ngb-alert>
					</div>

					<div class="col-12" *ngIf="needsConfirm">
						<div class="input-group">
							<div class="form-floating flex-grow-1">
								<input
									formControlName="valueConfirm"
									id="inputValueConfirm"
									#inputValueConfirm
									type="{{ valueInputType }}"
									class="form-control"
									placeholder="{{ valueLabel }} megerősítése"
									[ngClass]="{
										'is-valid': valueConfirm?.dirty && value?.valid,
										'is-invalid': (valueConfirm?.dirty && valueConfirm?.errors?.['required']) || (value?.dirty && valueConfirm?.dirty && editUserForm?.errors?.['matchingError']),
										'rounded-0': valueLabel === 'Új jelszó' || valueLabel === 'Telefonszám',
										'rounded-start': valueLabel === 'Új jelszó',
										'rounded-end': valueLabel === 'Telefonszám',
										'number-without-spinner': valueInputType === 'number'
									}"
								/>
								<label for="inputValueConfirm">{{ valueLabel }} megerősítése</label>
							</div>
							<span
								*ngIf="valueLabel === 'Új jelszó'"
								class="input-group-text rounded-0 rounded-end toggle-visibility-button"
								(click)="
									inputValueConfirm.type === 'password'
										? (inputValueConfirm.type = 'text')
										: (inputValueConfirm.type = 'password')
								"
								><fa-icon
									[icon]="
										inputValueConfirm.type === 'password' ? faEyeIcon : faEyeSlashIcon
									"
								></fa-icon
							></span>
						</div>

						<!-- Errors -->
						<ngb-alert
							[dismissible]="false"
							type="danger"
							*ngIf="(valueConfirm?.dirty && valueConfirm?.errors?.['required']) || (value?.dirty && valueConfirm?.dirty && editUserForm?.errors?.['matchingError'])"
						>
							<p *ngIf="valueConfirm?.errors?.['required']">A mező nem lehet üres!</p>

							<p
								*ngIf="value?.dirty && valueConfirm?.dirty && editUserForm?.errors?.['matchingError']"
							>
								A két mezőnek meg kell egyeznie!
							</p>
						</ngb-alert>
					</div>

					<hr class="mb-0" />

					<div class="col-12">
						<div class="form-floating">
							<input
								formControlName="password"
								id="inputPassword"
								type="password"
								class="form-control"
								placeholder="Jelszó"
								[ngClass]="{
									'is-valid': password?.dirty && password?.valid,
									'is-invalid': password?.dirty && password?.invalid
								}"
							/>
							<label for="inputPassword">Jelszó</label>
						</div>

						<!-- Errors -->
						<ngb-alert
							[dismissible]="false"
							type="danger"
							*ngIf="password?.dirty && password?.invalid"
						>
							<p *ngIf="password?.errors?.['required']">A mező nem lehet üres!</p>
						</ngb-alert>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button
				type="submit"
				class="btn btn-outline-success"
				[disabled]="editUserForm.invalid || !editUserForm.dirty"
			>
				Mentés
			</button>
			<button
				type="button"
				ngbAutofocus
				class="btn btn-outline-danger"
				(click)="closeModal()"
			>
				Bezárás
			</button>
		</div>
	</form>
</div>
