<div class="container">
	<div class="row">
		<div class="col-12 text-center">
			<h1 class="display-1">Rendelések</h1>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="col-12 col-sm-8 col-md-6 col-lg-4">
			<div class="input-group mb-3">
				<input
					type="text"
					id="inputSearchTerm"
					#inputSearchTerm
					placeholder="Keresés felhasználó alapján"
					class="form-control rounded-0 rounded-start"
					(keyup.enter)="searchOrdersByUsername(inputSearchTerm.value)"
				/>
				<button
					class="btn btn-outline-secondary"
					type="button"
					id="button-addon2"
					(click)="searchOrdersByUsername(inputSearchTerm.value)"
				>
					Keresés
				</button>
			</div>
		</div>
		<div class="col-12">
			<div *ngIf="isLoading" class="col-12 text-center mt-3">
				<div class="spinner-border text-danger" style="width: 3rem; height: 3rem">
					<span class="visually-hidden">Betöltés...</span>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-10 col-xl-8">
			<div *ngIf="!isLoading && orders.length > 0">
				<div class="table-responsive">
					<table class="table table-light table-striped table-hover align-middle">
						<thead class="table-info">
							<tr>
								<th scope="col" class="text-center min-width-cell">#</th>
								<th scope="col" class="text-center">Felhasználó</th>
								<th scope="col">Dátum</th>
								<th scope="col">Cím</th>
								<th scope="col" class="text-center">Összeg</th>
								<th scope="col" class="text-center">Állapot</th>
								<th scope="col" class="text-center min-width-cell"></th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let order of orders">
								<th scope="row" class="text-center min-width-cell">{{ order.id }}</th>
								<td class="text-center">{{ order.username }}</td>
								<td class="">
									{{ order.createdAt | date: "YYYY. MM. dd. HH:mm" }}
								</td>
								<td>{{ addressToString(order.address) }}</td>
								<td class="text-center text-break">{{ order.totalSum }} Ft</td>
								<td class="text-center">
									{{ getReadableOrderStatusName(order.orderStatusName) }}
								</td>
								<td class="text-center min-width-cell">
									<a [routerLink]="['/order', order.id]">Részletek</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="d-flex p-2 justify-content-center">
					<ngb-pagination
						[collectionSize]="collectionSize"
						[(page)]="page"
						[maxSize]="5"
						[rotate]="true"
						[directionLinks]="false"
						[ellipses]="false"
						[boundaryLinks]="true"
						[pageSize]="pageSize"
						(pageChange)="refreshOrderPage()"
					>
					</ngb-pagination>
				</div>
			</div>
		</div>

		<div *ngIf="!isLoading && orders.length === 0" class="col-12 text-center">
			<p>
				Nem található egyetlen rendelés sem.
			</p>
		</div>
	</div>
</div>
