<div class="container">
	<div class="row">
		<div class="col-12 text-center">
			<h1 class="display-1">Kosár</h1>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="col-12 col-xl-10">
			<div class="table-responsive-sm table-light">
				<table class="table table-striped table-hover align-middle">
					<thead class="table-info">
						<tr>
							<th role="col" class="text-center">Név</th>
							<th role="col">Leírás</th>
							<th role="col" class="min-width-cell text-center">Ár</th>
							<th role="col" class="min-width-cell text-center">
								<fa-icon [icon]="faTrashIcon" class="d-md-none"></fa-icon>
								<span class="d-none d-md-inline-block">&#160;Eltávolítás</span>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let pizza of pizzas">
							<td class="text-center text-break mw-100px">
								{{ pizza.name }}
							</td>

							<td class="text-break">{{ pizza.description }}</td>
							<td class="min-width-cell text-center">{{ pizza.price }} Ft</td>
							<td class="min-width-cell text-center">
								<button
									(click)="removePizzaFromCart(pizza.id)"
									type="button"
									class="btn btn-sm btn-danger"
								>
									<fa-icon [icon]="faTrashIcon"></fa-icon>
									<span class="d-none d-md-inline-block">&#160;Eltávolítás</span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<p class="text-end">
				<span class="fw-bold">Végösszeg: </span>
				<span class="text-decoration-underline">{{ sumOfPizzaPrices() }} Ft</span>
			</p>

			<div class="text-end">
				<a [routerLink]="['/order-finalize']" class="btn btn-primary me-2"
					>Véglegesítés</a
				>
				<button (click)="dumpCart()" type="button" class="btn btn-danger">
					Kosár ürítése
				</button>
			</div>
		</div>
	</div>
</div>
