<div class="container">
	<div class="row mb-3">
		<div class="col-12 text-center">
			<h1 class="display-1">Regisztráció</h1>
		</div>
	</div>

	<div class="row">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-12 col-lg-10 col-xl-8">
					<form [formGroup]="registerForm" novalidate (ngSubmit)="onSubmit()">
						<div class="row g-3 justify-content-center">
							<!-- Username -->
							<div class="col-12 col-md-6">
								<div class="form-floating">
									<input
										type="text"
										id="inputUsername"
										formControlName="username"
										placeholder="Felhasználónév"
										class="form-control"
										[ngClass]="{
											'is-valid': username?.dirty && username?.valid,
											'is-invalid': username?.dirty && username?.invalid
										}"
									/>
									<label for="inputUsername">Felhasználónév</label>
								</div>

								<!-- Errors -->
								<ngb-alert
									[dismissible]="false"
									type="danger"
									*ngIf="username?.dirty && username?.invalid"
								>
									<p *ngIf="username?.errors?.['required']">
										A felhasználónév mező nem lehet üres!
									</p>

									<p *ngIf="username?.errors?.['minlength']">
										A felhasználónévnek minimum
										{{username?.errors?.['minlength'].requiredLength}} karaktert kell
										tartalmaznia!
									</p>

									<p *ngIf="username?.errors?.['maxlength']">
										A felhasználónévnek maximum
										{{username?.errors?.['maxlength'].requiredLength}} karaktert szabad
										tartalmaznia!
									</p>
								</ngb-alert>
							</div>

							<!-- Full name -->
							<div class="col-12 col-md-6">
								<div class="form-floating">
									<input
										type="text"
										id="inputFullName"
										formControlName="fullName"
										placeholder="Teljes Név"
										class="form-control"
										[ngClass]="{
											'is-valid': fullName?.dirty && fullName?.valid,
											'is-invalid': fullName?.dirty && fullName?.invalid
										}"
									/>
									<label for="inputFullName">Teljes Név</label>
								</div>

								<!-- Errors -->
								<ngb-alert
									[dismissible]="false"
									type="danger"
									*ngIf="fullName?.dirty && fullName?.invalid"
								>
									<p *ngIf="fullName?.errors?.['required']">
										A teljes név mező nem lehet üres!
									</p>

									<p *ngIf="fullName?.errors?.['pattern']">
										A teljes név mezőnek egy érvényes magyar nevet kell tartalmaznia!
									</p>
								</ngb-alert>
							</div>

							<!-- Email -->
							<div class="col-12 col-md-6">
								<div class="form-floating">
									<input
										type="email"
										id="inputEmail"
										formControlName="email"
										placeholder="E-Mail"
										class="form-control"
										[ngClass]="{
											'is-valid': email?.dirty && email?.valid,
											'is-invalid': email?.dirty && email?.invalid
										}"
									/>
									<label for="inputEmail">E-Mail</label>
								</div>

								<!-- Errors -->
								<ngb-alert
									[dismissible]="false"
									type="danger"
									*ngIf="email?.dirty && email?.invalid"
								>
									<p *ngIf="email?.errors?.['required']">
										Az e-mail mező nem lehet üres!
									</p>

									<p *ngIf="email?.errors?.['email']">
										Az e-mail mezőnek egy érvényes e-mail címet kell tartalmaznia!
									</p>
								</ngb-alert>
							</div>

							<!-- Phone number -->
							<div class="col-12 col-md-6">
								<div class="input-group">
									<span class="input-group-text rounded-0 rounded-start">+36</span>
									<div class="form-floating flex-grow-1">
										<input
											type="number"
											id="inputPhoneNumber"
											formControlName="phoneNumber"
											placeholder="Telefonszám"
											class="form-control rounded-0 rounded-end number-without-spinner"
											[ngClass]="{
												'is-valid': phoneNumber?.dirty && phoneNumber?.valid,
												'is-invalid': phoneNumber?.dirty && phoneNumber?.invalid
											}"
										/>
										<label for="inputPhoneNumber">Telefonszám</label>
									</div>
								</div>

								<!-- Errors -->
								<ngb-alert
									[dismissible]="false"
									type="danger"
									*ngIf="phoneNumber?.dirty && phoneNumber?.invalid"
								>
									<p *ngIf="phoneNumber?.errors?.['required']">
										A telefonszám mező nem lehet üres!
									</p>

									<p *ngIf="phoneNumber?.errors?.['pattern']">
										A telefonszám mezőnek egy érvényes telefonszámot kell tartalmaznia! (9
										darab számjegy)
									</p>
								</ngb-alert>
							</div>

							<!-- Password -->
							<div class="col-12 col-md-6">
								<div class="input-group">
									<div class="form-floating flex-grow-1">
										<input
											[type]="isPasswordFieldHidden ? 'password' : 'text'"
											id="inputPassword"
											formControlName="password"
											placeholder="Jelszó"
											class="form-control rounded-0 rounded-start"
											[ngClass]="{'is-valid': password?.dirty && password?.valid, 'is-invalid': (password?.dirty && password?.invalid) || (password?.dirty && passwordConfirm?.dirty && registerForm?.errors?.['matchingError'])}"
										/>
										<label for="inputPassword">Jelszó</label>
									</div>
									<span
										class="input-group-text rounded-0 rounded-end toggle-visibility-button"
										(click)="isPasswordFieldHidden = !isPasswordFieldHidden"
										><fa-icon
											[icon]="isPasswordFieldHidden ? faEyeIcon : faEyeSlashIcon"
										></fa-icon
									></span>
								</div>

								<!-- Errors -->
								<ngb-alert
									[dismissible]="false"
									type="danger"
									*ngIf="password?.dirty && (password?.invalid || (passwordConfirm?.dirty && registerForm?.errors?.['matchingError']))"
								>
									<p *ngIf="password?.errors?.['required']">
										A jelszó mező nem lehet üres!
									</p>

									<p *ngIf="password?.errors?.['pattern']">
										A jelszó mezőnek egy érvényes jelszót kell tartalmaznia!
									</p>
									<ul *ngIf="password?.errors?.['pattern']">
										<li>Legalább egy nagybetű</li>
										<li>Legalább egy kisbetű</li>
										<li>Legalább egy szám</li>
										<li>Legalább egy különleges karakter (#?!@$%^&*-)</li>
										<li>Legalább 8 karakter hosszú</li>
									</ul>

									<p *ngIf="registerForm?.errors?.['matchingError']">
										A két jelszónak meg kell egyeznie!
									</p>
								</ngb-alert>
							</div>

							<!-- Password confirm -->
							<div class="col-12 col-md-6">
								<div class="input-group">
									<div class="form-floating flex-grow-1">
										<input
											[type]="isPasswordConfirmFieldHidden ? 'password' : 'text'"
											id="inputPasswordConfirm"
											formControlName="passwordConfirm"
											placeholder="Jelszó megerősítése"
											class="form-control rounded-0 rounded-start"
											[ngClass]="{'is-valid': passwordConfirm?.dirty && passwordConfirm?.valid, 'is-invalid': passwordConfirm?.dirty && (passwordConfirm?.errors?.['required'] || (password?.dirty && registerForm?.errors?.['matchingError']))}"
										/>
										<label for="inputPasswordConfirm">Jelszó megerősítése</label>
									</div>
									<span
										class="input-group-text rounded-0 rounded-end toggle-visibility-button"
										(click)="isPasswordConfirmFieldHidden = !isPasswordConfirmFieldHidden"
										><fa-icon
											[icon]="isPasswordConfirmFieldHidden ? faEyeIcon : faEyeSlashIcon"
										></fa-icon
									></span>
								</div>

								<!-- Errors -->
								<ngb-alert
									[dismissible]="false"
									type="danger"
									*ngIf="passwordConfirm?.dirty && (passwordConfirm?.errors?.['required'] || (password?.dirty && registerForm?.errors?.['matchingError']))"
								>
									<p *ngIf="passwordConfirm?.errors?.['required']">
										A jelszó megerősítése mező nem lehet üres!
									</p>

									<p *ngIf="registerForm?.errors?.['matchingError']">
										A két jelszónak meg kell egyeznie!
									</p>
								</ngb-alert>
							</div>

							<!-- Submit button -->
							<div class="col-12 text-center">
								<button
									type="submit"
									[disabled]="registerForm.invalid"
									class="btn btn-lg btn-primary"
								>
									Regisztráció
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
