<div class="container">
	<div class="row mb-3">
		<div class="col-12 text-center">
			<h1 class="display-1">Regisztráció</h1>
		</div>
	</div>

	<div class="row">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-12 col-lg-10 col-xl-8">
					<div *ngIf="errorMessage" class="alert alert-danger">
						<p class="m-0">{{ errorMessage }}</p>
					</div>

					<div *ngIf="successMessage" class="alert alert-success">
						<p class="m-0">{{ successMessage }}</p>
					</div>

					<form [formGroup]="registerForm" novalidate (ngSubmit)="onSubmit()">
						<div class="row g-3 justify-content-center">
							<!-- Username -->
							<div class="col-12 col-md-6">
								<div class="form-floating">
									<input
										type="text"
										id="inputUsername"
										formControlName="username"
										placeholder="Felhasználónév"
										class="form-control"
										[ngClass]="{
											'is-valid': username?.dirty && username?.valid,
											'is-invalid': username?.dirty && username?.invalid
										}"
									/>
									<label for="inputUsername">Felhasználónév</label>
								</div>

								<!-- Errors -->
								<ngb-alert
									[dismissible]="false"
									type="danger"
									*ngIf="username?.dirty && username?.invalid"
								>
									<p *ngIf="username?.errors?.['required']">
										A mező kitöltése kötelező!
									</p>

									<p *ngIf="username?.errors?.['minlength']">
										A mezőnek minimum
										{{username?.errors?.['minlength'].requiredLength}} karaktert kell
										tartalmaznia!
									</p>

									<p *ngIf="username?.errors?.['maxlength']">
										A mezőnek maximum
										{{username?.errors?.['maxlength'].requiredLength}} karaktert szabad
										tartalmaznia!
									</p>
								</ngb-alert>
							</div>

							<!-- Full name -->
							<div class="col-12 col-md-6">
								<div class="form-floating">
									<input
										type="text"
										id="inputFullName"
										formControlName="fullName"
										placeholder="Teljes Név"
										class="form-control"
										[ngClass]="{
											'is-valid': fullName?.dirty && fullName?.valid,
											'is-invalid': fullName?.dirty && fullName?.invalid
										}"
									/>
									<label for="inputFullName">Teljes Név</label>
								</div>

								<!-- Errors -->
								<ngb-alert
									[dismissible]="false"
									type="danger"
									*ngIf="fullName?.dirty && fullName?.invalid"
								>
									<p *ngIf="fullName?.errors?.['required']">
										A mező kitöltése kötelező!
									</p>

									<p *ngIf="fullName?.errors?.['fullname']">
										A mezőnek egy érvényes teljes nevet kell tartalmaznia! (Például: Teszt
										Elek)
									</p>
								</ngb-alert>
							</div>

							<!-- Email -->
							<div class="col-12 col-md-6">
								<div class="form-floating">
									<input
										type="email"
										id="inputEmail"
										formControlName="email"
										placeholder="E-Mail"
										class="form-control"
										[ngClass]="{
											'is-valid': email?.dirty && email?.valid,
											'is-invalid': email?.dirty && email?.invalid
										}"
									/>
									<label for="inputEmail">E-Mail</label>
								</div>

								<!-- Errors -->
								<ngb-alert
									[dismissible]="false"
									type="danger"
									*ngIf="email?.dirty && email?.invalid"
								>
									<p *ngIf="email?.errors?.['required']">A mező kitöltése kötelező!</p>

									<p *ngIf="email?.errors?.['email']">
										A mezőnek egy érvényes e-mail címet kell tartalmaznia! (Például:
										tesztelek@tesztmail.com)
									</p>
								</ngb-alert>
							</div>

							<!-- Phone number -->
							<div class="col-12 col-md-6">
								<div class="input-group">
									<span class="input-group-text rounded-0 rounded-start">+36</span>
									<div class="form-floating flex-grow-1">
										<input
											type="number"
											id="inputPhoneNumber"
											formControlName="phoneNumber"
											placeholder="Telefonszám"
											class="form-control rounded-0 rounded-end number-without-spinner"
											[ngClass]="{
												'is-valid': phoneNumber?.dirty && phoneNumber?.valid,
												'is-invalid': phoneNumber?.dirty && phoneNumber?.invalid
											}"
										/>
										<label for="inputPhoneNumber">Telefonszám</label>
									</div>
								</div>

								<!-- Errors -->
								<ngb-alert
									[dismissible]="false"
									type="danger"
									*ngIf="phoneNumber?.dirty && phoneNumber?.invalid"
								>
									<p *ngIf="phoneNumber?.errors?.['required']">
										A mező kitöltése kötelező!
									</p>

									<p *ngIf="phoneNumber?.errors?.['phonenumber']">
										A mezőnek pontosan 9 darab számot kell tartalmaznia!
									</p>
								</ngb-alert>
							</div>

							<!-- Password -->
							<div class="col-12 col-md-6">
								<div class="input-group">
									<div class="form-floating flex-grow-1">
										<input
											type="password"
											id="inputPassword"
											#inputPassword
											formControlName="password"
											placeholder="Jelszó"
											class="form-control rounded-0 rounded-start"
											[ngClass]="{
												'is-valid': password?.dirty && (password?.valid && !registerForm.errors?.['match']),
												'is-invalid': password?.dirty && (password?.invalid || registerForm.errors?.['match'])
											}"
										/>
										<label for="inputPassword">Jelszó</label>
									</div>
									<span
										class="input-group-text rounded-0 rounded-end toggle-visibility-button"
										(click)="
											inputPassword.type =
												inputPassword.type === 'password' ? 'text' : 'password'
										"
										><fa-icon
											[icon]="
												inputPassword.type === 'password'
													? ['far', 'eye']
													: ['far', 'eye-slash']
											"
										></fa-icon
									></span>
								</div>

								<!-- Errors -->
								<ngb-alert
									[dismissible]="false"
									type="danger"
									*ngIf="password?.dirty && (password?.invalid || registerForm.errors?.['match'])"
								>
									<p *ngIf="password?.errors?.['required']">
										A mező kitöltése kötelező!
									</p>

									<p *ngIf="password?.errors?.['password']">
										A mezőnek egy érvényes jelszót kell tartalmaznia!
									</p>
									<ul *ngIf="password?.errors?.['password']">
										<li>Minimum 8 karakter</li>
										<li>Minimum egy darab nagybetű</li>
										<li>Minimum egy darab kisbetű</li>
										<li>Minimum egy darab szám</li>
										<li>Minimum egy darab speciális karakter</li>
									</ul>

									<p *ngIf="registerForm.errors?.['match']">
										A két jelszónak meg kell egyeznie!
									</p>
								</ngb-alert>
							</div>

							<!-- Password confirm -->
							<div class="col-12 col-md-6">
								<div class="input-group">
									<div class="form-floating flex-grow-1">
										<input
											type="password"
											id="inputPasswordConfirm"
											#inputPasswordConfirm
											formControlName="passwordConfirm"
											placeholder="Jelszó megerősítése"
											class="form-control rounded-0 rounded-start"
											[ngClass]="{
												'is-valid': passwordConfirm?.dirty && (passwordConfirm?.valid && !registerForm.errors?.['match']),
												'is-invalid': passwordConfirm?.dirty && (passwordConfirm?.invalid || registerForm.errors?.['match'])
											}"
										/>
										<label for="inputPasswordConfirm">Jelszó megerősítése</label>
									</div>
									<span
										class="input-group-text rounded-0 rounded-end toggle-visibility-button"
										(click)="
											inputPasswordConfirm.type =
												inputPasswordConfirm.type === 'password' ? 'text' : 'password'
										"
										><fa-icon
											[icon]="
												inputPasswordConfirm.type === 'password'
													? ['far', 'eye']
													: ['far', 'eye-slash']
											"
										></fa-icon
									></span>
								</div>

								<!-- Errors -->
								<ngb-alert
									[dismissible]="false"
									type="danger"
									*ngIf="passwordConfirm?.dirty && (passwordConfirm?.invalid || registerForm.errors?.['match'])"
								>
									<p *ngIf="passwordConfirm?.errors?.['required']">
										A mező kitöltése kötelező!
									</p>

									<p *ngIf="passwordConfirm?.errors?.['password']">
										A mezőnek egy érvényes jelszót kell tartalmaznia!
									</p>
									<ul *ngIf="passwordConfirm?.errors?.['password']">
										<li>Minimum 8 karakter</li>
										<li>Minimum egy darab nagybetű</li>
										<li>Minimum egy darab kisbetű</li>
										<li>Minimum egy darab szám</li>
										<li>Minimum egy darab speciális karakter</li>
									</ul>

									<p *ngIf="registerForm.errors?.['match']">
										A két jelszónak nem egyezik!
									</p>
								</ngb-alert>
							</div>

							<!-- Submit button -->
							<div class="col-12 text-center">
								<button
								type="submit"
								[disabled]="registerForm.invalid || isLoading"
								class="btn btn-lg btn-primary"
							>
								<span
									*ngIf="isLoading"
									class="spinner-border spinner-border-sm text-danger"
								></span>
								Regisztráció
							</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
